

/* ================== HEADER ==================*/
.header{
    display: flex;
    align-items:center;
    height: 80px;
}

.header .logo{
    margin-right: 95px;
}

.header {
    justify-content: space-between;
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo_left-side{
        color: #2196F3;
}

.navigation_list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation_list-links:not(:last-child) {
    margin-right: 50px;
}

.navigation_list-links{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

}

.navigation_list-links:hover,
.navigation_list-link:focus{
    color: #2196F3;;
    cursor: pointer;
}

.address{
    margin-left: auto;
}

.address_list{
    display: flex;
    align-items: center;
}

.address_list-link:not(:last-child){
    margin-right: 50px;
}

.address_list-link-items{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.address_list-link-items:hover,
.address_list-link-items:focus{
        color: #2196F3;
}
/* ================== END HEADER ==================*/

/* ================== HERO ==================*/
.hero_title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 30px;
        padding-top: 200px;
    }

.hero{
        /* width: 1600px; */
        height: 600px;
        margin: 0 auto;
        background: #2F303A;
        text-align: center;
}
/* ================== END HERO ==================*/

/* ================== COMPONENTS ==================*/
.btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;    
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 10px 32px;
    border-color: #2196F3;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* ================== END COMPONENTS ==================*/


/* ================== PECULIARITIES ==================*/

.peculiarities{
    padding-top: 95px;
}

.peculiarities_list{
    display: flex;
}


.peculiarities_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.peculiarities_undertitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.peculiarities_list-items:not(:last-child){
    margin-left: 30px;
}

.peculiarities_list-items{
        width: 270px;
}

/* ================== END PECULIARITIES ==================*/

/* ================== ABOUT ==================*/

.about{
    padding-top: 95px;
    padding-bottom: 95px;
}

.about_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.about_img {
    display: flex;
    justify-content: space-between;
}

/* ================== END ABOUT ==================*/

/* ================== MASTERS ==================*/
.masters_box{
    padding-top: 95px;
}

.masters{
    margin-top: 50px;
}
 
.comand {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.masters_list_links{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 6px 6px;
}

.masters_list_links:not(:last-child){
    margin-right: 30px;
}

.masters_list_links_names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
}

.masters_list_links_position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 30px;
        text-align: center;
}

.masters_list {
    display: flex;
}
/* ================== END MASTERS ==================*/


/* ================== FOOTER ==================*/
.footer {
    background: #2F303A;
    justify-content: space-between;
    margin-top: 95px;
}

.footer .logo {
    color: #FFFFFF;
    padding-top: 60px;
}

.contacts_list {
    padding-bottom: auto;
    margin-top: 20px;
}

.footer_box {
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* ================== END FOOTER ==================*/
